@model List<Usuario>
@{
    ViewData["Title"] = "Listagem de Usuários";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Sessão do usuário logado</h1>
    <h3>
        @foreach (var usuario in Model)
        {
            <h4 class="tostring">@usuario.ToString()</h4>
        }
    </h3>
</div>

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <table id="table-usuarios" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">CPF</th>
                <th scope="col">Último Acesso</th>
                <th scope="col">Qtd Erro Login</th>
                <th scope="col">BL Ativo</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var usuario in Model)
                {
                    <tr>
                        <td scope="row">@usuario.Codigo</td>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.CPF</td>
                        <td>@usuario.UltimoAcesso</td>
                        <td>@usuario.QtdErroLogin</td>
                        <td>@usuario.BLAtivo</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>